<!DOCTYPE html>
<html lang="ko">
<head>
  <meta content="text/html;charset=UTF-8" http-equiv="Content-Type">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">
</head>
<body>

  <div th:replace="~{ nav.html::navbar }"></div>
  
  <button style="background-color: beige">
    <a href="/list/management">수정</a>
  </button>
  
  <div class="card" th:each="products : ${items}">
    <img src="https://placehold.co/300">
    <div>
      <h4 th:text="${products.title}"></h4>
      <a th:href="@{ '/detail/' + ${products.id} }">링크</a>
      <p th:text="${products.price}"></p>
    </div>
  </div>
</body>
</html>
